<h1>Results <small>with: {{searchedName}}</small></h1>

<hr/>

<div class="row animated fadeIn" *ngIf="searchedHeroes.length == 0">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            The result does not exist with "{{searchedName}}"
        </div>
    </div>
</div>

<div class="card-columns">

    <div class="card animated fadeIn" *ngFor="let heroe of searchedHeroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.img">
        <div class="card-body">

            <h5 class="card-title">{{heroe.name}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.publisher}}: {{heroe.aparition}}</small></p>
            <button class="btn btn-outline-primary btn-block btnColorful" (click)="heroeSelected(heroe.heroId)" (mouseover)="heroe.hovered = true" (mouseleave)="heroe.hovered=false" [style.border-color]="heroe.color" [style.color]="heroe.hovered ? 'white' : heroe.color"
                [ngStyle]="{'background-color': heroe.hovered ==true ? heroe.color : transparent}">See more...</button>

        </div>
    </div>
</div>